    body {
      text-align: center;
      background: url("http://raspal.org/images/my100projects/Brooklyn_Bridge_Postdlf_bw.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 20px;
      font-size: 22px;
    }
    input[type="submit"] {
      background: red;
      color: white;
      font-weight: bold;
    }
    img {
      border-radius: 50%;
      border: 5px solid red;
    }

    input[type="submit"]:hover {
      background: white;
      color: red;
      font-weight: bold;
    }

/* Navbar New Start */

@import url('https://fonts.googleapis.com/css?family=Roboto');
/*body {
  background: linear-gradient(45deg, #FBE7C5, #F5CAC3);
}*/

.container, .button, .nav{
  position: absolute;
}

.container {
  /*margin: auto;*/
  top: 0;
  left: 80%;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 100px;
}

#toggle {
  display: none;
}

.button {
  z-index: 999;
  width: 43px;
  height: 43px;
  background: /*#F28482;*/ #ff0000;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 3px 10px 0 rgba(#000000, 0.3);
  cursor: pointer;
  
  &:before {
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #FFF;
    transform: rotate(180deg);
  }
  &:after {
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #FFF;
  }
}

.nav {
  transform: translateY(-10%);
  opacity: 0;
  top: 13px;
  left: -50px;
  transition: all 0.5s ease-in-out;
  background: #FFF;
  width: 150px;
  border-radius: 5px;
  transform: translateY(0%);
  box-shadow: 2px 3px 10px 0 rgba(#000000, 0.1);
}

.nav a {
  text-align: center;
  display: block;
  margin: 20px 0;
  color: #F28482;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#toggle:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

#toggle:checked ~ .button {
  transform: rotate(135deg);
   box-shadow: 0 0 0 0 transparent;
}

/* Navbar New End */



/* Navbar Start */

.navbar {
    background-color: #CC0000;
}
 .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-size: 24px;
 }
 .navbar-default .navbar-nav>li>a:hover {
  background-color: black;
  color: #ffffff;
 }
  .navbar-default .navbar-brand>a {
  background-color: #CC0000;
  color: #ffffff;
  }
  .dropdown-menu {
    font-size: 24px;
    background-color: red;
    color: #ffffff;
  }
  .dropdown-menu>li>a {
    background-color: #000000;
    color: #fff;
  }
  .dropdown-menu>li>a:hover {
    background-color: red;
    color: #fff;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000000;
}

/* Navbar End */