    body {
      text-align: center;
      background: url("http://raspal.org/images/my100projects/Brooklyn_Bridge_Postdlf_bw.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
      padding-top: 60px;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 20px;
      font-size: 22px;
    }
    input[type="submit"] {
      background: red;
      color: white;
      font-weight: bold;
    }
    img {
      border-radius: 50%;
      border: 5px solid red;
    }

    input[type="submit"]:hover {
      background: white;
      color: red;
      font-weight: bold;
    }

/* Navbar Start */

.navbar {
    background-color: #CC0000;
}
 .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-size: 24px;
 }
 .navbar-default .navbar-nav>li>a:hover {
  background-color: black;
  color: #ffffff;
 }
  .navbar-default .navbar-brand>a {
  background-color: #CC0000;
  color: #ffffff;
  }
  .dropdown-menu {
    font-size: 24px;
    background-color: red;
    color: #ffffff;
  }
  .dropdown-menu>li>a {
    background-color: #000000;
    color: #fff;
  }
  .dropdown-menu>li>a:hover {
    background-color: red;
    color: #fff;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #000000;
}

/* Navbar End */